[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-bootstrap4 = "*"
django-markdownx = "*"
pytz = "*"
Django = "*"
django-registration = "*"
django-chunked-upload = "*"
djangocodemirror = "*"
django-taggit = "*"
pyyaml = ">=4.2b1"
psycopg2 = "*"
channels = "*"
pypiwin32 = "*"
channels-redis = "*"

[dev-packages]
django-debug-toolbar = "*"

[scripts]
migrate = "python manage.py migrate"
test = "python manage.py test"

[requires]
python_version = "3.7"
