<nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
    <a class="navbar-brand" href="{% url 'index' %}">Securiteam Wargame</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'wargame-admin:challenges' %}">Challenges</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'wargame-admin:users' %}">Users</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="submissionDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Submissions
                </a>
                <div class="dropdown-menu" aria-labelledby="submissionDropdown">
                    <a class="dropdown-item" href="{% url 'wargame-admin:challenge-submissions' %}">By challenge</a>
                    <a class="dropdown-item" href="{% url 'wargame-admin:user-submissions' %}">By user</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'wargame-admin:config' %}">Configuration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'wargame-admin:staff-admin' %}">Staff members</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="importDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Import
                </a>
                <div class="dropdown-menu" aria-labelledby="importDropdown">
                    <a class="dropdown-item" href="{% url 'wargame-admin:import' %}">Challenges</a>
                    <a class="dropdown-item" href="{% url 'wargame-admin:user-import' %}">Users</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'admin:index' %}">Django admin</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if request.user.is_authenticated %}
                <span class="navbar-text font-weight-bold">
                    {{ request.user.username }} - ${{ request.user.get_score }}
                </span>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
