.admin-header {
    display: flex;
    justify-content: flex-end;
}

.admin-header span {
    margin-right: auto;
}

.admin-header a {
    vertical-align: middle;
    margin-left: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
}

/*Bootstrap workaround: a tags with btn classes do not change text color on hover*/
a.btn:not(.btn-link):hover {
    color: white !important;
}

.multiline {
    white-space: pre-wrap;
}