.admin-header {
    display: flex;
    justify-content: flex-end;
}

.admin-header span {
    margin-right: auto;
}

.admin-header a {
    vertical-align: middle;
    margin-left: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
}