#challenge-list a.card:hover {
    text-decoration: none;
    background-color: #fafafa;
}

#challenge-list .challenge-points-container {
    display: flex;
    align-content: center;
    justify-content: flex-end;
    text-align: right;
    font-size: 2em;
    line-height: 2.5em;
    vertical-align: middle;
}

.challenge-title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.challenge-card {
    background-color: #f0fff0;
}

#challenge-list a.challenge-card:hover {
    background-color: #e8ffe8;
}