#challenge-list a.card:hover {
    text-decoration: none;
    background-color: #fafafa;
}

#challenge-list .challenge-points-container {
    display: flex;
    align-content: center;
    justify-content: flex-end;
    text-align: right;
    font-size: 2em;
    line-height: 2.5em;
    vertical-align: middle;
}

.challenge-title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.challenge-card {
    background-color: #f0fff0;
}

#challenge-list a.challenge-card:hover {
    background-color: #e8ffe8;
}

.tag {
    font-size: 12px;
    background-color: #e1ecf4;
    color: #39739d;
    padding: 4px;
    margin: 2px;
    border-radius: 4px;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #f5f5f5;
    color: #7e7e7e;
}