{% extends 'base.html' %}
{% block content %}
    <h1>{{ view.challenge.title }}</h1>
    <div class="bg-light">
        <pre>{{ view.challenge.description }}</pre>
    </div>
    <div>
        <!-- TODO -->
        Attached files:
        <ul>
            <li>File 1</li>
            <li>File 2</li>
        </ul>
    </div>
    <div>
        <form class="form-horizontal row">
            <div class="form-group col-sm-11">
                <label class="control-label col-sm-2" for="flag">Flag:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="flag"/>
                </div>
            </div>
            <div class="col-sm-1">
                <input type="submit" class="btn btn-primary"/>
            </div>
        </form>
    </div>
{% endblock %}