{% extends 'base.html' %}
{% block content %}
    <h1>Securiteam wargame 2018</h1>
    <p>Welcome everyone on this year's wargame!</p>
    <p>Every new stage is unlocked by solving 3 challenges on the previous stage!</p>
    <p>The solution of every assignment is a 32 characters long MD5 hash wrapped into "SECURITEAM{...}" (e.g. "SECURITEAM{0123456789abcdef0123456789abcdef}"). If you find the hash without the pre- and postfixes, then you should wrap it in yourself.</p>
    <p>You can use the hint button on any challenge for a 50% penalty in points!</p>
    <p style="text-align: center">Questions/info: securiteam[at]sch[dot]bme[dot]hu!</p>
{% endblock %}
