{% extends 'wargame/base.html' %}
{% block content %}
    <h1>Challenges</h1>

    <section id="challenge-list">
    {% for challenge in view.challenges %}
        <!-- TODO: solved function in view -->
        <a class="card {% if challenge.solved %}challenge-card{% endif %}" href="{% url 'challenge-details' id=challenge.id %}">
            <div class="card-body row">
                <div class="col-sm-8">
                    <h4 class="card-title">{{ challenge.title }}</h4>
                    <p>
                        {{ challenge.short_description }}
                    </p>
                </div>
                <div class="col-sm-4 challenge-points-container">
                    <span>${{ challenge.points }}</span>
                </div>
            </div>
        </a>
    {% endfor %}
    </section>
{% endblock %}