{% extends 'wargame/base.html' %}
{% load wargame_tags %}

{% block content %}
    <div class="challenge-title-box">
        <h1>{{ view.challenge.title }}</h1>
        {% if view.solved %}
            <i class="fas fa-check text-success" style="font-size: 48px"></i>
        {% endif %}
    </div>
    <div class="bg-light px-5 py-1 my-3">
        <p>{{ view.challenge.description|markdown }}</p>
    </div>
    <div>
        <h4>Attached files</h4>
        {% for file in view.files %}
            <a href="{% url 'challenge-file' file.id %}">{{ file.display_name }}</a><br/>
        {% endfor %}
    </div>
    <div class="my-3">
        <h4>Hint</h4>
        {% if view.hint_used %}
            <p>{{ view.challenge.hint }}</p>
        {% else %}
            <form method="post" action="{% url 'challenge-hint' view.challenge.id %}">
                {% csrf_token %}
                Showing the hint will halve the number of points available for this challenge.<br />
                <button class="btn btn-info" {% if view.solved %}disabled{% endif %}>Show hint</button>
            </form>
        {% endif %}
    </div>
    {% if not view.solved %}
        <form class="form-inline d-flex" method="post">
            {% csrf_token %}
            <div class="form-group" style="flex-grow: 1">
                <label for="flag">Flag:</label>
                <input id="flag" type="text" name="flag" class="form-control m-3" style="flex-grow: 1"/>
            </div>
            <button class="btn btn-primary col-sm col-sm-auto" type="submit">Submit</button>
        </form>
    {% endif %}
{% endblock %}