{% extends 'wargame/base.html' %}
{% load bootstrap4 %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <!-->GDPR checkbox<-->
        <input type="checkbox" required name="GDPR consent"><b>I agree to the handling and storage my personal data in accordance with GDPR.</b>
        {% buttons %}
            <input type="submit" value="Save" class="btn btn-primary float-right" />
        {% endbuttons %}
    </form>
{% endblock %}
 <!-->GDPR checkbox<-->
                <input type="checkbox" required name="GDPR consent"><b>I agree to the handling and storage my personal data in accordance with GDPR.</b>
