{% extends 'wargame_admin/admin_base.html' %}
{% load wargame_tags %}
{% block content %}
    <h1 class="admin-header">
        <span>{{ view.challenge.title }}</span>
        <a href="{% url 'wargame-admin:challenge-submissions' %}?id={{ view.challenge.id }}" class="btn btn-link">Submissions</a>
        <a href="{% url 'wargame-admin:challenge-edit' view.challenge.id %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'wargame-admin:challenge-delete' view.challenge.id %}" class="btn btn-danger">Delete</a>
    </h1>
    <div class="bg-light px-5 py-1 my-3">
        <p>{{ view.challenge.description|markdown }}</p>
    </div>
    <hr />
    <h3>Properties</h3>
    <b>Created:</b> {{ view.challenge.creation_dt }}<br/>
    <b>Short description:</b> {{ view.challenge.short_description }}<br/>
    <b>Level:</b> {{ view.challenge.level }}<br/>
    <b>Flag (QPA):</b> {{ view.challenge.flag_qpa }}<br/>
    <b>Flag (Hacktivity):</b> {{ view.challenge.flag_hacktivity }}<br/>
    <b>Points:</b> {{ view.challenge.points }}<br/>
    <b>Hint:</b> {{ view.challenge.hint }}<br/>
    <hr/>
    <h3 class="admin-header">
        <span>Files</span>
        <a href="{% url 'wargame-admin:challenge-files' view.challenge.id %}" class="btn btn-primary">Manage files</a>
    </h3>
    {% for file in view.challenge.files.all %}
        <a href="{% url 'challenge-file' file.id %}">{{ file.display_name }}</a><br/>
    {% endfor %}
    <hr/>
    {% if view.challenge.setup %}
        <h3>Setup</h3>
        <div class="multiline">{{ view.challenge.setup }}</div>
        <hr />
    {% endif %}
    <h3>Solution</h3>
    <div class="multiline">{{ view.challenge.solution }}</div>
    <hr />
{% endblock %}
