{% extends 'wargame_admin/admin_base.html' %}
{% load bootstrap4 %}
{% load wargame_admin_tags %}
{% block content %}
    {% if view.messages %}
        <div class="border p-2 my-4" style="max-height: 500px; overflow: auto">
            {% for message in view.messages %}
                {% autoescape off %}
                    {% render_message message %}
                {% endautoescape %}
                <br />
            {% endfor %}
        </div>
        <hr />
    {% endif %}
    <div class="row">
        <div class="col-md-6">
            <h2>Import challenges</h2>
            <form method="post" enctype="multipart/form-data" class="form">
                {% csrf_token %}
                {% bootstrap_form view.challenge_import_form %}
                <input type="hidden" name="type" value="challenge" />
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
        </div>
        <div class="col-md-6">
            <h2>Import users</h2>
            <form method="post" enctype="multipart/form-data" class="form">
                {% csrf_token %}
                {% bootstrap_form view.user_import_form %}
                <input type="hidden" name="type" value="user">
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
        </div>
    </div>
    <hr />
    <h2>Export challenges</h2>
    <a href="{% url 'wargame-admin:challenge-export' %}">Export</a>
{% endblock %}
