{% extends 'wargame_admin/admin_base.html' %}
{% load wargame_admin_tags %}
{% block content %}
    <h1>Submissions</h1>
    <form method="get" class="form-inline">
        <select name="id" class="form-control m-2">
            {% for item in view.list %}
                <option value="{{ item.0 }}" {% if item.0 == view.selected_id %} selected {% endif %}>{{ item.1 }}</option>
            {% endfor%}
        </select>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <hr/>
    <!-- TODO: Reset hints for all button -->
    <!-- TODO: Clear submissions for all button -->
    {% for userchallenge in view.userchallenges %}
        <h3>{% submission_name view userchallenge %}</h3>
        <!-- TODO: Reset hint button -->
        <!-- TODO: Clear submissions button -->
        <ul>
            {% for submission in userchallenge.submission_set.all %}
                <li>{{ submission.value }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}