{% extends 'wargame_admin/admin_base.html' %}
{% load bootstrap4 %}
{% block content %}
    <h3>{{ object.username }} - ${{ object.get_score }}</h3>
    <div>
        {# TODO #}
        <a class="btn btn-info text-white">Reset password</a>
        <a class="btn btn-danger text-white">Delete user</a>
    </div>
    <hr />
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <input type="submit" value="Save" class="btn btn-primary float-right" />
        {% endbuttons %}
    </form>
{% endblock %}