{% extends 'wargame_admin/admin_base.html' %}
{% load bootstrap4 %}
{% block content %}
    <h1>Users</h1>
    <form class="form-inline mb-3 mt-3">
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary ml-3">Search</button>
    </form>
    {# TODO: Sortable table #}
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Score</th>
                <th>Scoreboard visibility</th>
                <th>Staff</th>
                <th>Edit</th>
                <th>Submissions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in object_list %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.get_score }}</td>
                <td>
                    {% if user.hidden %}
                        Hidden from scoreboard
                    {% else %}
                        Visible on scoreboard
                    {% endif %}
                </td>
                <td>
                    {% if user.is_staff %}
                        Staff
                    {% else %}
                        Not staff
                    {% endif %}
                </td>
                <td><a class="btn btn-link" href="{% url 'wargame-admin:user-edit' user.id %}">Edit user</a></td>
                <td><a class="btn btn-link" href="{% url 'wargame-admin:user-submissions' %}?id={{ user.id }}">Submissions</a> </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
