{% extends 'wargame_admin/admin_base.html' %}
{% block content %}
    <h1>Users</h1>
    {# TODO: Sortable table #}
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Score</th>
                <th>Scoreboard visibility</th>
                <th>Staff</th>
                <th>Submissions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in view.users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.get_score }}</td>
                {# TODO: Buttons #}
                <td>
                    {% if user.hidden %}
                        <a class="btn btn-outline-dark">Show user on scoreboard</a>
                    {% else %}
                        <a class="btn btn-outline-dark">Hide user from scoreboard</a>
                    {% endif %}
                </td>
                <td>
                    {% if user.is_staff %}
                        <a class="btn btn-outline-danger">Revoke staff privileges</a>
                    {% else %}
                        <a class="btn btn-outline-success">Grant staff privileges</a>
                    {% endif %}
                </td>
                <td><a class="btn btn-link" href="{% url 'wargame-admin:user-submissions' %}?id={{ user.id }}">Submissions</a> </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
