{% extends 'wargame_admin/admin_base.html' %}
{% load bootstrap4 %}
{% block content %}
    <h3>{{ object.username }} - ${{ object.get_score }}</h3>
    <div>
        <a class="btn btn-info text-white" href="{% url 'admin:auth_user_password_change' object.id %}">Change password</a>
    </div>
    <hr />
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <input type="submit" value="Save" class="btn btn-primary float-right" />
        {% endbuttons %}
    </form>
{% endblock %}