{% extends 'wargame_admin/admin_base.html' %}
{% block content %}
    <h1>Submissions</h1>
    <form method="get" class="form-inline">
        <select name="id" class="form-control m-2">
            {% for user in view.users %}
                <option value="{{ user.0 }}" {% if user.0 == view.user_id %} selected {% endif %}>{{ user.1 }}</option>
            {% endfor%}
        </select>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <hr/>
    <!-- TODO: Reset hints for all button -->
    <!-- TODO: Clear submissions for all button -->
    {% for userchallenge in view.userchallenges %}
        <h3>{{ userchallenge.challenge.title }}</h3>
        <!-- TODO: Reset hint button -->
        <!-- TODO: Clear submissions button -->
        <!-- TODO: Combine submission templates -->
        <ul>
            {% for submission in userchallenge.submission_set.all %}
                <li>{{ submission.value }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
