{% extends 'wargame_admin/admin_base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
    <h1>Users</h1>
    <form class="form-inline mb-3 mt-3">
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary ml-3">Search</button>
    </form>
    {# TODO: Add more search parameters #}
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Score</th>
                <th>Scoreboard visibility</th>
                <th>Admin</th>
                <th>Active</th>
                <th>Edit</th>
                <th>Submissions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in object_list %}
            <tr>
                <td class="align-middle">{{ user.username }}</td>
                <td class="align-middle">{{ user.get_score }}</td>
                <td class="align-middle">{{ user.hidden_str }}</td>
                <td class="align-middle">{{ user.admin_str }}</td>
                <td class="align-middle">{{ user.active_str }}</td>
                <td><a class="btn btn-link" href="{% url 'wargame-admin:user-edit' user.id %}">Edit user</a></td>
                <td><a class="btn btn-link" href="{% url 'wargame-admin:user-submissions' %}?id={{ user.id }}">Submissions</a> </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
